# shadcn Studio Pro registry credentials (@ss-components / @ss-themes / @ss-blocks).
# Read by the shadcn CLI when resolving components.json registry params.
# Use the email your shadcn Studio Pro license is registered under.
EMAIL=xxxx
LICENSE_KEY=xxxx
